---
import Layout from '../layouts/Layout.astro';
import Landing from "./Landing.astro";
import Navbar from "./Navbar.astro";

---

<Layout title="BovDaBoat">
	<main>
		<Navbar />
<Landing />
	</main>

</Layout>