<section class="bg-blue-800 text-white py-8">
    <div class="container mx-auto px-4 flex justify-center">
        <div class="w-2/3">
            <h1 class="text-4xl font-bold mb-6 text-center">Skills</h1>
            <div class="rounded-lg bg-white text-black p-4 shadow-lg">
                <div class="mb-6">
                    <h2 class="text-2xl font-semibold mb-2">Languages</h2>
                    <ul class="list-disc list-inside">
                        <li class="mb-3 pt-5">
                            <img src="/Icons/javascript.svg" alt="JavaScript icon" class="w-6 h-6 mr-2 inline" />
                            JavaScript/TypeScript
                        </li>
                        <li class="mb-3">
                            <img src="/Icons/solidity.svg" alt="Solidity icon" class="w-6 h-6 mr-2 inline" />
                            Solidity
                        </li>
                    </ul>
                </div>
                <div class="mb-6">
                    <h2 class="text-2xl font-semibold mb-2">CSS</h2>
                    <p class="mb-3 pt-5">
                        <img src="/Icons/tailwindcss-dark.svg" alt="Tailwind CSS icon" class="w-6 h-6 mr-2 inline" />
                        Tailwind CSS, Vanilla CSS
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold mb-2">Frameworks/Libraries</h2>
                    <ul class="list-disc list-inside">
                        <li class="mb-3 pt-5">
                            <img src="/Icons/react-dark.svg" alt="React icon" class="w-6 h-6 mr-2 inline" />
                            React
                        </li>
                        <li class="mb-3">
                            <img src="/Icons/nextjs-solid.svg" alt="Next.js icon" class="w-6 h-6 mr-2 inline" />
                            Next.js
                        </li>
                        <li class="mb-3">
                            <img src="/Icons/astro.svg" alt="Astro icon" class="w-6 h-6 mr-2 inline" />
                            Astro
                        </li>
                        <li class="mb-3">
                            <img src="/Icons/daisyui.svg" alt="Daisy UI icon" class="w-8 h-8 mr-2 inline" />
                            Daisy UI
                        </li>
                        <li class="mb-3">
                            <img src="/Icons/hardhat.svg" alt="Astro icon" class="w-6 h-6 mr-2 inline" />
                            Hardhat
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
